@import "../../theme/styles/theme.scss";
@import "../../theme/styles/mixins.scss";

h1 {
  font-size: 6rem;
  margin-bottom: 2rem;

  @include responsive(lg) {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
  }

  @include responsive(md) {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  @include responsive(sm) {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }
}

p {
  font-size: 1.6rem;
  line-height: normal;
  font-weight: normal;

  @include responsive(lg) {
    font-size: 1.2rem;
  }

  @include responsive(md) {
    font-size: 1rem;
  }

  @include responsive(sm) {
    font-size: 0.8rem;
  }
}

.error-message {
  color: #ba8e73;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @include responsive(sm) {
    height: 100svh;
  }
}

::ng-deep .mat-mdc-form-field {
  width: 100%;
}

.display-text,
.input-section,
.login-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  @include responsive(lg) {
    width: 90%;
  }

  @include responsive(md) {
    width: 90%;
  }

  @include responsive(sm) {
    // border: 1px solid tomato;
    width: 90%;
  }
}

.login-section {
  margin-bottom: 2rem;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.6rem;
}

::ng-deep .mat-mdc-checkbox label {
  @include responsive(sm) {
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 600;
  }
}

.btn-enter {
  width: 100%;
}

.valid-button-color {
  background-color: var(--foundation-primary, #ba8e73);
  opacity: 1;
  color: white;
}

.go-back-sign-up {
  color: $primary-500;
}
