@import "../../theme/styles/theme.scss";
@import "../../theme/styles/mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-info h1 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;

  @include responsive(lg) {
    font-size: 2.6rem;
    margin-bottom: 1.4rem;
  }

  @include responsive(md) {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
  }

  @include responsive(sm) {
    font-size: 2.2rem;
    margin-bottom: 0.3rem;
  }
}

.text-info span {
  font-size: 1.2rem;
  line-height: normal;
  font-weight: normal;

  @include responsive(lg) {
    font-size: 1.0rem;
  }

  @include responsive(md) {
    font-size: 0.9rem;
  }

  @include responsive(sm) {
    font-size: 0.8rem;
  }
}

::ng-deep mat-form-field,
.errors {
  width: 100%;
  margin-top: 0.7rem;
}

.text-info,
.container-form {
  width: 40%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;

  @include responsive(lg) {
    width: 90%;
  }
}

// Botão de enviar/inscrever-se
.send-btn {
  @include common-button-styles;
  background-color: var(--foundation-primary, #979797);
  color: #171717;
  margin-top: 1.5rem;

  &:disabled {
    background-color: var(--foundation-primary, #979797);
    color: #171717;
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.valid-button-color {
    color: $white;
  }
}

// Estilos para o botão válido (quando o formulário for válido)
.valid-button-color {
  background-color: var(--foundation-primary, #ba8e73);
  opacity: 1;
  color: $white;

  &:disabled {
    background-color: var(--foundation-primary, #ba8e73);
    opacity: 0.6;
    cursor: not-allowed;
  }
}
