<div class="carousel">
  <img class="arrow-left swiper-button-prev" src="../../../../assets/images/arrow.png" alt="" />
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let weatherCard of weatherCards">
      <p class="sol">SOL {{ weatherCard.solDate }}</p>
      <p class="date">{{ weatherCard.terrestrialDate | datePipe }}</p>
      <img src="../../../../assets/images/rectangle.png" alt="" />
      <p class="max-temp">
        Máx.: {{ weatherCard.temperature.celsius.max.value }}° C
      </p>
      <p class="min-temp">
        Mín.: {{ weatherCard.temperature.celsius.min.value }}° C
      </p>
    </ng-template>
  </swiper>
  <img class="arrow-right swiper-button-next" src="../../../../assets/images/arrow.png" alt="" />
</div>
