<div class="carousel">
  <img class="arrow-left" src="../../../../assets/images/arrow.png" alt="" />
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let card of cards">
      <p class="sol">{{ card.title }}</p>
      <p class="date">{{ card.date }}</p>
      <img src="../../../../assets/images/rectangle.png" alt="" />
      <p class="max-temp">{{ card.maxTemp }}</p>
      <p class="min-temp">{{ card.minTemp }}</p>
    </ng-template>
  </swiper>
  <img class="arrow-right" src="../../../../assets/images/arrow.png" alt="" />
</div>
