<div class="moon-right-large-background">
  <div class="password-reset-container">
    <div class="info-panel">
      <div class="backward-page">
        <span class="material-icons">
          <a mat-button [routerLink]="'/auth/login'">arrow_back_ios</a>
        </span>
        <div class="text-info">
          <h1>Recuperar Senha</h1>
          <span>
            Por favor, preencha o campo abaixo para recuperar sua senha.
          </span>
        </div>
      </div>
    </div>
    <section class="container-form">
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" [value]="email" required />
          <mat-error *ngIf="emailForm.get('email')?.hasError('required')"
            >Você deve inserir um e-mail</mat-error
          >
          <mat-error *ngIf="emailForm.get('email')?.hasError('email')"
            >E-mail inválido</mat-error
          >
        </mat-form-field>
        <button mat-stroked-button class="cancel-btn" (click)="goBack()">
          Cancelar
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [class.valid-button-color]="emailForm.valid"
          [disabled]="emailForm.invalid"
          class="send-btn"
        >
          Enviar
        </button>
      </form>
    </section>
  </div>
</div>
