@import "../../theme/styles/theme.scss";

.password-reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

.container-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0 0 10rem;
}

.backward-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-icons {
  margin-top: -30px;
  font-size: 17px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.text-info h1 {
  font-size: 35px;
  margin-bottom: 8px;
  margin-left: 0px;
}

.text-info span {
  font-size: 13px;
  margin-left: -1px;
}

mat-form-field {
  width: 90%;
}

.cancel-btn,
.send-btn {
  height: 3.5rem;
  width: 28.5rem;
  opacity: 0.3;
  border-radius: 0.35rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.cancel-btn {
  background-color: var(--foundation-primary);
  color: #fff;
  opacity: 0.9;
  border: 1px solid var(--foundation-gray-scale-gray-900, #47474e);
}

.send-btn {
  background-color: var(--foundation-primary, #979797);
  color: #171717;
  margin-top: 1.5rem;
}

.valid-button-color {
  background-color: var(--foundation-primary, #ba8e73);
  opacity: 1;
  color: white;
}