<body>
  <div class="grey-layer">
    <div class="password-reset-container">
      <div class="info-panel">
        <div class="backward-page">
          <span class="material-icons">
            <a mat-button [routerLink]="'/auth/login'">arrow_back_ios</a>
          </span>
          <div class="text-info">
            <h1>Recuperar Senha</h1>
            <span>Por favor, preencha o campo abaixo para recuperar sua senha.</span>
          </div>
        </div>
      </div>
      <mat-form-field appearance="outline" class="email-input">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <app-button btnName="CANCELAR" class="cancel-btn" (click)="goBack()"></app-button>
      <app-button btnName="ENVIAR" class="submit-btn"(click)="changePassword()"></app-button>
    </div>
  </div>
</body>