@import '../../theme/styles/theme.scss';

@import '../../theme/styles/colors.scss';


.moon-right-large-background{
  height: 120vh;
}
.register-container {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  padding: 20px;
  z-index: 1;
}

mat-error {
  margin-top: -20px;
  margin-left: 15px;
  font-size: x-small;
}

.text-info h1 {
  font-size: 35px;
  margin-bottom: 8px;
  margin-left: 0px;
}

.text-info span {
  font-size: 13px;
  margin-left: -1px;
}

::ng-deep mat-form-field,
.errors {
  width: 100%;
  margin-top: 20px;
}

.hidePass-btn {
  background-color: var(--foundation-primary);

}

.ngErrors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  margin-right: 5px;
}

.matCheckbox {
  margin-left: -7px;
}

.send-btn {
  background-color: $gray-500;
  color: #121417;
  margin-top: 1.5rem;
  opacity: 0.3;
  height: 3.5rem;
  width: 100%;
  margin-top: 20px;
  border-radius: 0.35rem;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: default;
}

.valid-button-color {
  background-color: $primary-500;
  opacity: 1;
  color: $white;
  cursor: pointer;
}

.valid-button-color:hover {
  background-color: $primary-300;
}

.goBackDiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.goBackLogin {
  color: $primary-500;
  text-decoration: none;
}