@import '../../styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 370px;
    margin: 0 auto;
}

.custom-dialog-container{
    display: flex;
    flex-direction: column;
      padding: 52px 46px;
      align-items: center;
      justify-content: center;  
  }

.image-container {
  display: flex;
  justify-content: flex-end;
  // align-items: last baseline; 
}

.check-success {
  width: 69px;
  height: 69px;
  flex-shrink: 0;
}

.icon-close {
  display: flex;
  width: 31px;
  height: 32px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ::ng-deep .mat-mdc-button .mat-mdc-button-persistent-ripple {
//     background-color: $white;
//     color: $black; /* Cor do texto */
//     border: solid $black 1px; /* Sem borda */
//     padding: 10px 20px; /* Preenchimento (ajuste conforme necessário) */
//     border-radius: 15px; /* Borda arredondada (ajuste conforme necessário) */
//     display: flex;
//     width: 255px;
//     height: 56px;
//     padding: 10px 8px;
//     justify-content: center;
//     align-items: center;
//     flex-shrink: 0;
//   }

  h1{
    color: var(--foundation-gray-scale-black, #020204);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  p{
    color: var(--foundation-gray-scale-black, #020204);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }