<body>
    <div class="grey-layer">
      <div class="new-password-container">
        <div class="info-panel">
          <div class="backward-page">
            <span class="material-icons">
              <a mat-button [routerLink]="'/auth/login'">arrow_back_ios</a>
            </span>
            <div class="text-info">
              <h1>Nova senha</h1>
              <span>
                Informe abaixo uma nova senha para conseguir logar.
              </span>
            </div>
          </div>
        </div>

        <div [formGroup]="control">
          <mat-form-field appearance="outline" class="pass-input">
            <mat-label>Digite sua nova senha</mat-label>
            <input type="text" matInput formControlName="password" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="pass-confirm-input">
              <mat-label>Digite novamente sua nova senha</mat-label>
              <input type="password" matInput formControlName="passConfirmation" required>
            </mat-form-field>
          <div class="errors">
            <div [ngStyle]="{ 'color': control.get('password')?.errors?.['passwordSizeError'] ? 'white' : 'green' }" 
            class="ngErrors"

            >
              <img 
                [src]="control.get('password')?.errors?.['passwordSizeError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
                alt="svg-checked">
              A senha deve conter, no mínimo, 8 caracteres;
            </div>

            <div [ngStyle]="{ 'color': control.get('password')?.errors?.['upperCaseError'] ? 'white' : 'green' }" 
            class="ngErrors"

            >
              <img 
                [src]="control.get('password')?.errors?.['upperCaseError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
                alt="svg-checked">
              Deve ter pelo menos 1 letra maiúscula;
            </div>

            <div [ngStyle]="{ 'color': control.get('password')?.errors?.['numbersError'] ? 'white' : 'green' }" 
              class="ngErrors"
            >
              <img 
                [src]="control.get('password')?.errors?.['numbersError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
                alt="svg-checked">
              Deve ter pelo menos 1 número;
            </div>

            <div [ngStyle]="{ 'color': control.get('password')?.errors?.['specialLetterError'] ? 'white' : 'green' }"
            class="ngErrors"
            >
              <img 
                [src]="control.get('password')?.errors?.['specialLetterError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
                alt="svg-checked"
              >
              Deve ter 1 caractere especial: !@#
            </div>
          </div>
      </div>

        <app-button 
          btnName="CANCELAR" 
          class="cancel-btn" 
        >
        </app-button>

        <app-button
            btnName="CRIAR SENHA" 
            class="submit-btn" 
            [callbackFunction]="goBack"
            >
        </app-button>
      </div>
    </div>
  </body>