<div class="moon-right-large-background">
  <div class="new-password-container">
    <div class="info-panel">
      <div class="text-info">
        <h1>Nova senha</h1>
        <span> Informe abaixo uma nova senha para conseguir logar. </span>
      </div>
    </div>

    <div [formGroup]="formNewPassword" class="input-section">
      <mat-form-field appearance="outline" class="pass-input">
        <mat-label>Digite sua nova senha</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hideFirstPass ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hideFirstPass = !hideFirstPass">
          {{ hideFirstPass ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
      <mat-error
        class="input-error"
        *ngIf="
          formNewPassword.get('password')?.invalid &&
          formNewPassword.get('password')?.dirty
        "
      >
        Preenchido de forma incorreta, tente novamente!
      </mat-error>
      <mat-form-field appearance="outline" class="pass-confirm-input">
        <mat-label>Digite novamente sua nova senha</mat-label>
        <input
          matInput
          formControlName="passConfirmation"
          [type]="hideSecondPass ? 'password' : 'text'"
        />
        <mat-icon matSuffix (click)="hideSecondPass = !hideSecondPass">
          {{ hideSecondPass ? "visibility_off" : "visibility" }}
        </mat-icon>
      </mat-form-field>
      <mat-error
        class="input-error"
        *ngIf="
          formNewPassword.get('passConfirmation')?.invalid &&
          formNewPassword.get('passConfirmation')?.dirty
        "
      >
        Preenchido de forma incorreta, tente novamente!
      </mat-error>
      <div
        class="errors"
        *ngIf="
          formNewPassword?.get('password')?.touched ||
          formNewPassword?.get('password')?.dirty ||
          formNewPassword?.get('passConfirmation')?.touched ||
          formNewPassword?.get('passConfirmation')?.dirty
        "
      >
        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['passwordSizeError'] ? '#e38686' : '#90dfa1' }"
          class="ngErrors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['passwordSizeError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          A senha deve conter, no mínimo, 8 caracteres;
        </div>

        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['upperCaseError'] ? '#e38686' : '#90dfa1' }"
          class="ngErrors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['upperCaseError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Deve ter pelo menos 1 letra maiúscula;
        </div>

        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['numbersError'] ? '#e38686' : '#90dfa1' }"
          class="ngErrors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['numbersError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Deve ter pelo menos 1 número;
        </div>

        <div
          [ngStyle]="{ 'color': formNewPassword.get('password')?.errors?.['specialLetterError'] ? '#e38686' : '#90dfa1' }"
          class="ngErrors"
        >
          <img
            [src]="formNewPassword.get('password')?.errors?.['specialLetterError'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Deve ter pelo menos 1 caractere especial: !@#
        </div>

        <div
          [ngStyle]="{ color: formNewPassword.errors?.['passMissMatch'] ? '#e38686' : '#90dfa1' }"
          class="ngErrors"
        >
          <img
            [src]="formNewPassword.errors?.['passMissMatch'] ? '../../../assets/images/whiteChecked.svg' : '../../../assets/images/greenChecked.svg'"
            alt="svg-checked"
          />
          Ambos os campos devem conter senhas iguais!
        </div>
      </div>

      <button
        mat-flat-button
        color="primary"
        class="cancel-btn"
        (click)="goBack()"
      >
        CANCELAR
      </button>

      <button
        mat-flat-button
        color="primary"
        class="send-btn"
        [disabled]="formNewPassword.invalid"
        (click)="newPassBtnRequest()"
        [class.valid-button-color]="formNewPassword.valid"
      >
        CRIAR SENHA
      </button>
    </div>
  </div>
</div>
