<div class="home-wrapper moon-centered-large-background">
    <div class="mars-cards-container">
        <div class="greetings-panel" [@fadeInOut]="1">
            <app-page-title 
                [title]="'Olá,'"
                [subtitle]="'Seja bem vindo(a)! O que veremos hoje?'"
                [highlight]="'explorador(a) Orion!'"
            >
            </app-page-title>
            <app-logout></app-logout> 
        </div>
        <div [@cardsAnimations]="1">
            <div class="mars-cards" >
                <div *ngFor = "let card of cards" >
                    <app-card-home [card]="card" (buttonClick)="card.callback"></app-card-home>
                </div>
            </div>
        </div>
    </div>
</div>