@use "@angular/material" as mat;

@include mat.core();

@import "./colors.scss";

$primary-palette: (
  100: $primary-100,
  300: $primary-300,
  500: $primary-500,
  700: $primary-700,
  900: $primary-900,
  contrast: (
    100: $white,
    300: $white,
    500: $white,
    700: $white,
    900: $white,
  ),
);

$accent-palette: (
  100: $secondary-100,
  300: $secondary-300,
  500: $secondary-500,
  700: $secondary-700,
  900: $secondary-900,
  contrast: (
    100: $white,
    300: $white,
    500: $white,
    700: $white,
    900: $white,
  ),
);

$warn-palette: (
  100: $secondary-100,
  300: $secondary-300,
  500: $secondary-500,
  700: $secondary-700,
  900: $secondary-900,
  contrast: (
    100: $white,
    300: $white,
    500: $white,
    700: $white,
    900: $white,
  ),
);

$danger-palette: (
  100: $secondary-100,
  300: $secondary-300,
  500: $secondary-500,
  700: $secondary-700,
  900: $secondary-900,
  contrast: (
    100: $white,
    300: $white,
    500: $white,
    700: $white,
    900: $white,
  ),
);

$primary-theme: mat.define-palette($primary-palette, 500);
$accent-theme: mat.define-palette($accent-palette, 500);
$warn-theme: mat.define-palette($danger-palette, 500);

$system-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-theme,
      accent: $accent-theme,
      warn: $warn-theme,
    ),
  )
);

@include mat.all-component-themes($system-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
}

.moon-right-large-background {
  background: url(../../../assets/images/background1.png) no-repeat center
    center fixed;
  background-size: cover;
  background-color: rgba(107, 159, 223, 0.081);
  width: 100%;
}

.moon-centered-large-background {
  background: url(../../../assets/images/background3.png) no-repeat center
    center fixed;
  background-size: cover;
  background-color: rgba(107, 159, 223, 0.081);
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
section {
  margin: 0;
}

:root {
  // checkbox
  --mdc-checkbox-unselected-icon-color: #ffffff;
  --mdc-checkbox-unselected-focus-icon-color: #ffffff;
  --mdc-checkbox-unselected-focus-state-layer-color: #ffffff;
  --mdc-theme-text-primary-on-background: #ffffff;

  --mdc-checkbox-selected-icon-color: #ba8e73;
  --mdc-checkbox-selected-icon-color: #ba8e73;

  .mdc-checkbox
    .mdc-checkbox__native-control:enabled
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    color: #fff;
    background-color: #ba8e73;
    border-color: #ba8e73;
  }

  --mat-option-selected-state-label-text-color: #ba8e73;

  //Estiliza o modal
  .mat-mdc-dialog-actions,
  .mdc-dialog__actions {
    padding: 0;
  }

  mat-dialog-content > p {
    width: 100%;
  }

  .mdc-dialogtitle + .mdc-dialogcontent {
    padding: 0px;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0;
  }

  .mat-mdc-dialog-container .mdc-dialog__container {
    border-radius: 0;
  }
  .mdc-dialog__content {
    overflow: none;
  }

  .mat-mdc-dialog-title,
  .mdc-dialog__title {
    padding-bottom: 16px 0;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border: 1px solid $black;
  }
  .cdk-overlay-pane {
    border-radius: 0px;
  }

  .outline-btn {
    border: none;
    background: transparent;
    color: #ffffff;
    padding: 10px;
  }

  // inputs
  --mdc-outlined-text-field-input-text-color: #ffffff;
  --mat-mdc-text-field-wrapper-color: #ffffff;
  --mdc-outlined-text-field-outline-color: #ffffff;
  --mdc-outlined-text-field-hover-outline-color: #b9b9b9;
  --mdc-outlined-text-field-label-text-color: #ffffff;
  --mdc-outlined-text-field-input-text-color: #ffffff;

  // retira o asterisco do required
  .mat-mdc-form-field-required-marker {
    display: none;
  }

  // button
  .mat-mdc-unelevated-button.mat-primary {
    background-color: var(--foundation-primary, #ba8e73);
    opacity: 1;
    color: var(--foundation-gray-scale-white, #fff);
  }

  .mat-mdc-unelevated-button.mat-primary:disabled {
    background-color: #979797;
    color: #171717;
  }
}
