<div class="mars-weather moon-centered-large-background">
  <div class="weather-info">
    <div class="weather-title">
      <a class="back-arrow">
        <img src="../../../assets/images/back-arrow.png" alt="Voltar" (click)="goBack()" (keydown.enter)="goBack()" tabindex="0"/>
      </a>
      <app-page-title
        [title]="'Meteorologia em Marte'"
        [subtitle]="'Veja abaixo as temperaturas registradas até o momento.'"
      ></app-page-title>
    </div>
    <app-logout></app-logout>
  </div>
  <div *ngIf="weatherCards.length">
    <app-card-principal
      [weatherCard]="weatherCards[weatherCards.length - 1]"
      class="main-card"
    ></app-card-principal>
    <app-carousel
      class="cards-carousel"
      [weatherCards]="weatherCards"
    ></app-carousel>
  </div>
</div>
