<div class="card-principal">
  <div class="calendar-section">
    <img
      src="../../../../assets/images/icon-calendar.svg"
      alt="icone de um calendário"
      class="calendar-icon-img"
    />
    <p class="display-day paragraph-customization">
      Sol {{ IWeatherCard.solDate }}
    </p>
    <p class="display-date paragraph-customization">
      {{ formattedTerrestrialDate }}
    </p>
  </div>
  <div class="temperature-section">
    <img
      src="../../../../assets/images/Thermometer-icon.svg"
      alt="icone de um termômetro"
      class="thermometer-icon"
    />
    <div class="wrapper-max-temp">
      <p class="max-temperature paragraph-customization">
        Máx.: {{ IWeatherCard.temperature.celsius.max }}º C | F
      </p>
      <img
        src="../../../../assets/images/seta-vermelha-icon.svg"
        alt="seta vermelha para cima"
      />
    </div>
    <div class="wrapper-min-temp">
      <p class="min-temperature paragraph-customization">
        Mín.: {{ IWeatherCard.temperature.celsius.min }}º C | F
      </p>
      <img
        src="../../../../assets/images/seta-verde-icon.svg"
        alt="seta verde para baixo"
      />
    </div>
  </div>
</div>
