@import '../../styles/colors.scss';

// redefine tag p para não herdar estilos do mat-card
::ng-deep.mat-typography .paragraph-customization {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.card-principal {
  width: 654px;
  height: 212px;
  display: flex;
  align-items: center;
  border-radius: 26px;
  background: rgba(62, 51, 51, 0.25);
}

.display-day,
.max-temperature {
  font-weight: 700;
  font-size: 34px;
  margin-right: 13px;
}

.display-date,
.min-temperature {
  font-size: 14px;
  margin-bottom: 4px;
  margin-right: 8px;
}

.calendar-section {
  width: 195px;
  height: 120px;
  margin: 44px 54px 41px 32px;

  .calendar-icon-img {
    width: 42px;
    height: 42px;
    margin-bottom: 16px;
  }

  .display-day {
    color: var(--foundation-gray-scale-white, #fff);
    font-family: Inter;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    margin-bottom: 10px;
  }

  .display-date {
    color: var(--foundation-gray-scale-white, #fff);
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    font-weight: 100;
  }
}

.temperature-section {
  height: 127px;
  display: flex;
  flex-direction: column;

  .thermometer-icon {
    width: 42px;
    height: 42px;
    margin-bottom: 22px;
  }

  .max-temperature {
    color: #ffd2b5;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
    margin-bottom: 4px;
  }

  .min-temperature {
    color: #ffd2b5;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
  }
}

.wrapper-max-temp,
.wrapper-min-temp {
  display: flex;
  align-items: center;
  margin: 0;
}

.wrapper-max-temp img,
.wrapper-min-temp img {
  margin-left: 10px;
}

.disabled-btn {
  color: $primary-300;
  display: inline-block;
  pointer-events: none;
}

.enabled-btn {
  text-decoration: none;
  color: $primary-700;
}

.no-click {
  display: inline-block;
  text-decoration: underline;
}