<div class="card-principal">
  <div class="calendar-section">
    <img
      src="../../../../assets/images/icon-calendar.svg"
      alt="icone de um calendário"
      class="calendar-icon-img"
    />
    <p class="display-day">Sol 259</p>
    <p class="display-date">23 Setembro de 2023</p>
  </div>
  <div class="temperature-section">
    <img
      src="../../../../assets/images/Thermometer-icon.svg"
      alt="icone de um termômetro"
      class="thermometer-icon"
    />
    <div class="wrapper-max-temp">
      <p class="max-temperature">Máx.: -15º F | C</p>
      <img
        src="../../../../assets/images/seta-vermelha-icon.svg"
        alt="seta vermelha para cima"
      />
    </div>
    <div class="wrapper-min-temp">
      <p class="min-temperature">Mín.: -147º F | C</p>
      <img
        src="../../../../assets/images/seta-verde-icon.svg"
        alt="seta verde para baixo"
      />
    </div>
  </div>
</div>
